---
import type { Page } from 'types';
import Layout from '@layouts/Layout.astro';
import Cards from '@components/Cards.astro';
import Cta from '@components/Cta.astro';
import Hero from '@components/Hero.astro';
import Logos from '@components/Logos.astro';
import Testimonials from '@components/Testimonials.astro';
import { fetchData, getPageById } from '@data/page';

export async function getStaticPaths() {
    const data = await fetchData();
    return data.map((page: Page) => {
        const slug = page.slug.current === '/' ? undefined : page.slug.current;
        return {
            params: { slug },
            props: { id: page._id }
        };
    });
}

const { id } = Astro.props;
const pages = await getPageById(id);
const page: Page = pages.length ? pages[0] : null;

const { _id, title, sections, metaTitle, metaDescription, socialImage } = page || {};

const componentMap = {
    cardsSection: Cards,
    ctaSection: Cta,
    heroSection: Hero,
    logosSection: Logos,
    testimonialsSection: Testimonials
};
---

{
    page && (
        <Layout title={metaTitle ?? title} description={metaDescription} image={socialImage}>
            <div data-sb-object-id={_id}>
                {sections?.length &&
                    sections.map((section, idx) => {
                        const Component = componentMap[section._type];
                        return <Component {...section} data-sb-field-path={`sections.${idx}`} />;
                    })}
            </div>
        </Layout>
    )
}
