---
import Layout from '../layouts/Layout.astro';
import Cards from '../components/Cards.astro';
import Cta from '../components/Cta.astro';
import Hero from '../components/Hero.astro';
import Logos from '../components/Logos.astro';
import Metrics from '../components/Metrics.astro';
import Summary from '../components/Summary.astro';
import Testimonials from '../components/Testimonials.astro';
import home from '../data/home.json';
---

<Layout title="Welcome to Astro.">
    <main data-sb-object-id="src/data/home.json">
        {home.hero && <Hero {...home.hero} />}
        {home.summary && <Summary {...home.summary} />}
        {
            (home.cards || home.logos) && (
                <section class="l-section l-stack">
                    {home.cards && <Cards {...home.cards} />}
                    {home.logos && <Logos {...home.logos} />}
                </section>
            )
        }
        {
            (home.metrics || home.testimonials) && (
                <section class="l-section l-stack" data-theme="dark">
                    {home.metrics && <Metrics {...home.metrics} />}
                    {home.testimonials && <Testimonials {...home.testimonials} />}
                </section>
            )
        }
        {home.cta && <Cta {...home.cta} />}
    </main>
</Layout>
