---
import { type Badge } from 'types';

interface Props extends Badge {
    class?: string;
    'data-sb-field-path'?: string;
}

const { label, theme, class: className, 'data-sb-field-path': fieldPath } = Astro.props;

const themeClassMap = {
    primary: 'badge-primary',
    secondary: 'badge-secondary',
    accent: 'badge-accent',
    neutral: 'badge-neutral'
};
---

<div class:list={['badge h-auto px-3 py-1 text-xs uppercase tracking-wider', themeClassMap[theme || 'primary'], className]} data-sb-field-path={fieldPath}>
    <span data-sb-field-path=".label">{label}</span>
</div>
