---
import Card from './Card.astro';

const { heading, subheading, columns = [] } = Astro.props;
---

<article class="my-6" data-sb-field-path="cards">
    {
        (heading || subheading) && (
            <h2 class="text-4xl font-bold text-center mb-6">
                {heading && <span data-sb-field-path=".heading">{heading}</span>}
                {subheading && <span data-sb-field-path=".subheading">{subheading}</span>}
            </h2>
        )
    }
    {
        columns?.length > 0 && (
            <section class="flex flex-col gap-8 md:flex-row" ".columns">
                {columns?.map((column, idx) => (
                    <Card {...column} data-sb-field-path={`.${idx}`} />
                ))}
            </section>
        )
    }
</article>
