---
import { marked } from 'marked';
import Badge from './Badge.astro';
import Button from './Button.astro';

const { badge, heading, body, cta, image, theme, textAlign, hasBorder, class: className, 'data-sb-field-path': fieldPath } = Astro.props;
---

<div
    class:list={['card', hasBorder !== false && 'card-bordered', 'w-full max-w-2xl', className]}
    {...theme && theme !== 'none' && { 'data-theme': theme }}
    data-sb-field-path={fieldPath}
>
    {
        image && image.src && (
            <figure>
                <img src={image.src} alt={image.alt || ''} data-sb-field-path=".image" />
            </figure>
        )
    }
    <div class:list={['card-body', textAlign === 'center' ? 'items-center text-center' : 'text-left']}>
        {badge && badge.text && <Badge {...badge} data-sb-field-path=".badge" />}
        {
            heading && (
                <h3 class="font-bold card-title" data-sb-field-path=".heading">
                    {heading}
                </h3>
            )
        }
        {body && <div class="markdown" set:html={marked.parse(body)} data-sb-field-path=".body" />}
        {
            cta && cta.url && cta.label && (
                <div class="card-actions">
                    <Button {...cta} class:list={[cta.variant === 'text' && 'font-bold underline hover:no-underline']} data-sb-field-path=".cta" />
                </div>
            )
        }
    </div>
</div>
