---
const { heading, columns = [] } = Astro.props;
---

<article class="flex flex-col gap-8 md:flex-row" "metrics">
    {
        columns.length > 0 && (
            <ul role="list" class="flex-1" data-sb-field-path=".columns">
                {columns?.map((column, idx) => (
                    <li class="stat-figure" data-sb-field-path={`.${idx}`}>
                        {column.heading && (
                            <span class="text-3" data-sb-field-path=".heading">
                                {column.heading}
                            </span>
                        )}
                        {column.subheading && <span data-sb-field-path=".subheading">{column.subheading}</span>}
                    </li>
                ))}
            </ul>
        )
    }
</article>
